/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STAR_GENOMEGENERATE'{
        ext.args = {"--sjdbOverhang ${params.sjdbOverhang}"}
        ext.prefix = {"${params.genome}_${params.sjdbOverhang}"}
        publishDir = [
                path: {"${params.outdir}/star_index/${params.genome}_${params.sjdbOverhang}"},
                mode: params.publish_dir_mode
            ]
    }
    // missing parametrs should be arranged for hg19 and hg38
    withName: 'STAR_ALIGN' {
            ext.args   = { [
                "--sjdbOverhang ${params.sjdbOverhang} --runRNGseed 1234 --outSAMtype BAM Unsorted SortedByCoordinate ",
                "--outSAMstrandField intronMotif --outSAMunmapped Within KeepPairs --outFilterMultimapNmax 1 --outFilterMismatchNmax 5 --outFilterMismatchNoverLmax 0.3 --twopassMode Basic --twopass1readsN -1",
                "--outSAMattrRGline ID:${meta.id} LB:${meta.library} PL:${params.seq_platform} SM:${meta.sample} PU:${meta.platform_unit}",
                "--chimSegmentMin 15 --chimScoreMin 1 --chimScoreJunctionNonGTAG 0 --chimJunctionOverhangMin 15  --chimSegmentReadGapMax 3 --alignSJstitchMismatchNmax 5 -1 5 5 --chimOutType Junctions SeparateSAMold",
                params.clip3pAdapterSeq_R1 ? (meta.single_end ? "--clip3pAdapterSeq ${params.clip3pAdapterSeq_R1}" : "--clip3pAdapterSeq ${params.clip3pAdapterSeq_R1} ${params.clip3pAdapterSeq_R2}") : "",
                params.clip3pAdapterMMp_R1 ? (meta.single_end ? "--clip3pAdapterMMp ${params.clip3pAdapterMMp_R1}" : "--clip3pAdapterMMp ${params.clip3pAdapterMMp_R1} ${params.clip3pAdapterMMp_R2}") : ""
            ].join(' ').trim() }
            ext.prefix = { "${meta.id}_STAR" }
            publishDir = [
                path: {"${params.outdir}/star_alignment/${meta.id}/${meta.status}/${meta.replica}"},
                mode: params.publish_dir_mode
            ]
        }

    withName: SAMTOOLS_SORT{
        ext.prefix = {bam.baseName}
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMBAMBA_MARKDUP'{
        scratch = true
        publishDir = [
                path: {"${params.outdir}/star_alignment/${meta.id}/${meta.status}/${meta.replica}"},
                mode: params.publish_dir_mode
            ]
    }

    withName: 'FINGERPRINTING'{
        publishDir = [
                path: {"${params.outdir}/fingerprinting/${meta.id}/${meta.status}/${meta.replica}"},
                mode: params.publish_dir_mode
            ]
    }
}
