/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf/dkfz_rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 16,
        memory: '200.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input        = "assets/samplesheet.csv"
    outdir       = "results"
    seq_center   = "dkfz"
    seq_platform = "trueseq"
    //clip3pAdapterSeq_R1  = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    //clip3pAdapterSeq_R2  =  "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    //clip3pAdapterMMp_R1 = "0.1" 
    //clip3pAdapterMMp_R2 = "0.1" 
    sjdbOverhang = 200

    star         = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/STAR/STAR_2.7.6a_Gencode31/STAR_2.7.6a_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31_200bp/"
    genome       = 'GRCh38'
    generate_star_index = false
    fasta        = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/sequence/GRCh38_decoy_ebv_alt_hla_phiX.fa'
    fai          = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/sequence/GRCh38_decoy_ebv_alt_hla_phiX.fa.fai'
    gtf          = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/STAR/STAR_2.7.6a_Gencode31/hg38_gencode.v31.annotation.transcript_gene_exon_UTR_CDS.gtf'
    fingerprinting_sites = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/fingerprinting/methylCtools-fingerprint/snp138Common.n1000_hg38.vh20140318.bed"
}