/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf/dkfz_rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 16,
        memory: '200.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input        = "${projectDir}/assets/samplesheet_cluster.csv"
    outdir       = "${projectDir}/results"
    seq_center   = "dkfz"
    seq_platform = "trueseq"
    //clip3pAdapterSeq_R1  = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    //clip3pAdapterSeq_R2  =  "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    //clip3pAdapterMMp_R1 = "0.1" 
    //clip3pAdapterMMp_R2 = "0.1" 
    sjdbOverhang = 200
    //run_kallisto = "unstranded,forward,reverse"
    skip_tools  = "kallisto"

    star         = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/STAR/STAR_2.7.6a_Gencode31/STAR_2.7.6a_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31_200bp/"
    genome       = 'GRCh38'
    generate_star_index = false
    fasta        = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/sequence/GRCh38_decoy_ebv_alt_hla_phiX.fa'
    fai          = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/sequence/GRCh38_decoy_ebv_alt_hla_phiX.fa.fai'
    gtf          = '/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/STAR/STAR_2.7.6a_Gencode31/hg38_gencode.v31.annotation.transcript_gene_exon_UTR_CDS.gtf'
    fingerprinting_sites = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/fingerprinting/methylCtools-fingerprint/snp138Common.n1000_hg38.vh20140318.bed"
    gencode_gtf = "/omics/groups/OE0608/internal/kubran/nf-dkfz_rnaseq/tests/hg38_gencode.v31.annotation.plain.gtf"
    gencode_exclude = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/gencode/gencode31/hg38_gencode.v31.annotation.chrXYMT.rRNA.gtf"
    gencode_dexseq  = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/gencode/gencode31/hg38_gencode.v31.annotation.dexseq.gff"
    kallisto_index  = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/kallisto/kallisto-0.46.0_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31_k31/kallisto-0.46.0_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31.noGenes.index"

}

process {
    withName: 'STAR_ALIGN' {
        ext.args   = { [
            "--readFilesCommand zcat",
            "--sjdbOverhang ${params.sjdbOverhang} --runRNGseed 1234 --outSAMtype BAM Unsorted SortedByCoordinate ",
            "--outSAMstrandField intronMotif --outSAMunmapped Within KeepPairs",
            "--outFilterMultimapNmax 50",          // Arriba recommends 50 to allow fusion genes with paralogs to map
            "--outFilterMismatchNmax 10",          // Relaxed from 5
            "--outFilterMismatchNoverLmax 0.3",
            "--outFilterMatchNminOverLread 0.33",  // Fixes "Unmapped short" (Default is 0.66)
            "--outFilterScoreMinOverLread 0.33",   // Fixes "Unmapped short" (Default is 0.66)
            "--seedSearchStartLmax 20",            // Helps align very short/spliced segments        
            "--chimSegmentMin 10 --chimScoreMin 1 --chimScoreJunctionNonGTAG 0 --chimJunctionOverhangMin 10 --chimSegmentReadGapMax 3 --alignSJstitchMismatchNmax 5 -1 5 5 --chimOutType Junctions SeparateSAMold",
            params.clip3pAdapterSeq_R1 ? (meta.single_end ? "--clip3pAdapterSeq ${params.clip3pAdapterSeq_R1}" : "--clip3pAdapterSeq ${params.clip3pAdapterSeq_R1} ${params.clip3pAdapterSeq_R2}") : "",
            params.clip3pAdapterMMp_R1 ? (meta.single_end ? "--clip3pAdapterMMp ${params.clip3pAdapterMMp_R1}" : "--clip3pAdapterMMp ${params.clip3pAdapterMMp_R1} ${params.clip3pAdapterMMp_R2}") : ""
        ].join(' ').trim() }
    }
}