/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf/dkfz_rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 16,
        memory: '200.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input        = "${projectDir}/assets/samplesheet_kallisto.csv"
    outdir       = "${projectDir}/results"
    seq_center   = "dkfz"
    seq_platform = "trueseq"
    run_kallisto = "unstranded,forward,reverse"

    genome       = 'GRCh38'
    generate_kallisto_index = false

    skip_tools = "star,qc,featurecounts,dexseq,arriba"

    //fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/riboseq_expression/Homo_sapiens.GRCh38.dna.chromosome.20.fa.gz'
    kallisto_index  = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/indexes/kallisto/kallisto-0.46.0_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31_k31/kallisto-0.46.0_GRCh38_decoy_ebv_phiX_alt_hla_chr_Gencode31.noGenes.index"
    gencode_exclude = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/gencode/gencode31/hg38_gencode.v31.annotation.chrXYMT.rRNA.gtf"

}